* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-color: #854632;
  --grey-color: #e3ddd7;
  --instruction-color: #5f564d;
  --step-font-family: "Outfit", sans-serif;
  --font-weight-semi: 500;
  --big-gap: 3rem;
  --instruction-gap: 0.65rem;
}

body {
  background-color: #f3e5d7;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background-color: #fff;
  height: 90rem;
  width: 48rem;
  border-radius: 2rem;
  margin-block: 5rem;
}
.header-recipe {
  margin-left: var(--big-gap);
  margin-bottom: 2rem;
  font-weight: 1000;
  font-family: "Young Serif", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  color: #312e2c;
}
.omelette-description {
  font-size: 0.9rem;
  margin-left: var(--big-gap);
  font-weight: 400;
  font-family: var(--step-font-family);
  color: var(--instruction-color);
}
.omelette-image {
  width: 35rem;
  height: 16rem;
  margin: var(--big-gap);
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}
.prep-time {
  background-color: #fff7fb;
  width: 36rem;
  height: 13rem;
  border-radius: 0.7rem;
  margin-left: var(--big-gap);
  margin-top: 2rem;
}
.prep-time-title {
  color: #7a284e;
  padding-left: 2rem;
  padding-top: 1.5rem;
}
.prep-time-list {
  padding-left: 3rem;
  padding-top: 1rem;
  color: var(--instruction-color);
  font-family: var(--step-font-family);
}
.time {
  padding-top: 0.65rem;
}
.cooking-time {
  padding-top: 0.65rem;
}
.all-ingridients {
  margin-left: var(--big-gap);
}
.ingridient-title {
  color: var(--header-color);
  padding-left: 1.5rem;
  font-size: 1.7rem;
}
.ingridient-list {
  font-size: 0.95rem;
  color: var(--instruction-color);
  padding-left: 3rem;
  font-family: var(--step-font-family);
}
.egg {
  padding-top: 1.5rem;
}
.salt {
  padding-top: var(--instruction-gap);
}
.butter-oil {
  padding-top: var(--instruction-gap);
}
.filling {
  padding-top: var(--instruction-gap);
}
.orders {
  margin-left: var(--big-gap);
}
.instruction-tile {
  font-size: 1.7rem;
  color: var(--header-color);
}
.all-orders {
  padding-left: 1.5rem;
  font-family: var(--step-font-family);
  color: var(--instruction-color);
  padding-right: 1.5rem;
}
.first-order {
  padding-top: 1.5rem;
}
.second-order {
  padding-top: var(--instruction-gap);
}
.third-order {
  padding-top: var(--instruction-gap);
}
.fourth-order {
  padding-top: var(--instruction-gap);
}
.fifth-order {
  padding-top: var(--instruction-gap);
}
.sixth-order {
  padding-top: var(--instruction-gap);
}
