* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-color: #854632;
  --grey-color: #e3ddd7;
  --instruction-color: #5f564d;
  --step-font-family: 'Outfit', sans-serif;
  --font-weight-semi: 500;
  --big-gap: 2rem;
  --instruction-gap: 0.65rem;
  --section-gap: 1.25rem;
}

body {
  background-color: #f3e5d7;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding-block: var(--big-gap);
  background-color: #fff;
  width: 46rem;
  border-radius: 2rem;
  margin-block: 5rem;
  padding-inline: 4.5rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
}

.separator {
  width: 100%;
  height: 0.05rem;
  background-color: var(--grey-color);
}

.header-recipe {
  font-weight: 1000;
  font-family: 'Young Serif', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  color: #312e2c;
}
.omelette-description {
  font-size: 0.9rem;
  font-weight: 400;
  font-family: var(--step-font-family);
  color: var(--instruction-color);
}
.omelette-image {
  width: 37rem;
  height: 18rem;
  border-radius: 0.5rem;
}
.prep-time {
  background-color: #fff7fb;
  gap: 1rem;
  border-radius: 0.7rem;
  padding: 1.5rem;
}
.prep-time-title {
  color: #7a284e;
  padding-left: 2rem;
}
.prep-time-list {
  padding-left: 3rem;
  padding-top: 1rem;
  color: var(--instruction-color);
  font-family: var(--step-font-family);
}
.time {
  padding-top: 0.65rem;
}
.cooking-time {
  padding-top: 0.65rem;
}
.ingridient-title {
  color: var(--header-color);
  font-size: 1.7rem;
}
.ingridient-list {
  font-size: 0.95rem;
  color: var(--instruction-color);
  padding-left: 1rem;
  font-family: var(--step-font-family);
}

.salt {
  padding-top: var(--instruction-gap);
}
.butter-oil {
  padding-top: var(--instruction-gap);
}

.instruction-tile {
  font-size: 1.7rem;
  color: var(--header-color);
}
.all-orders {
  padding-left: 1.5rem;
  font-family: var(--step-font-family);
  color: var(--instruction-color);
}

.second-order {
  padding-top: var(--instruction-gap);
}
.third-order {
  padding-top: var(--instruction-gap);
}
.fourth-order {
  padding-top: var(--instruction-gap);
}
.fifth-order {
  padding-top: var(--instruction-gap);
}
.sixth-order {
  padding-top: var(--instruction-gap);
}
.nutrition-title {
  color: var(--header-color);
  font-size: 1.7rem;
}
.nutrition-description {
  font-family: var(--step-font-family);
  color: var(--instruction-color);
}

.nutritional-values {
  list-style-type: none;

  & li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-block: 0.5rem;
    border-bottom: 1px solid var(--grey-color);

    & span:first-child {
      padding-left: 1rem;
    }
  }
}

@media (max-width: 480px) {
  section {
    background: green;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  section {
    background: orange;
  }
}

@media (min-width: 769px) and (max-width: 1279px) {
  section {
    background: pink;
  }
}
